.QuizManager{
    width: 80%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50% );
    
}
.QuizManager-Header{
    text-align: center;
}
.Currently-Showing{
    text-align: left;
}
.next-btn {
    margin-top: 1rem;
    width: 10vw;
    padding: 1rem;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}